.show-more {
    margin: 2rem auto 6rem auto;
}
.container-for-cards {
    padding: 0;
}
.container-for-items {
    width: 100%;
    max-width: 80rem;
}
h1 {
    margin: 4rem auto 2rem auto;
}
.container-for-filter {
    background-color: rgba(255, 255, 255, 0.157);
    margin: 0 auto 0rem auto;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--brand-color);
    font-size: 1.2rem;
    width: 6rem;
    height: 2rem;
    text-align: center;
    cursor: pointer;
}
.filtring-items {
    color: var(--wyt-color);
    list-style: none;
    display: none;
    font-family: sans-serif;
    cursor: pointer;
    gap: 1.5rem;
}
.filtering {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 0.8rem;
    height: 2rem;
    letter-spacing: 0.4em;
}

.selected {
    transition: 0.3s;
    background-color: rgb(254, 106, 0, 0.4);
}

.filtering-checked {
    font-weight: 900;
    color: var(--brand-color);
}
@media screen and (max-width: 660px), screen and (max-height: 660px) {
    .filtring-items {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 6.2rem;
        z-index: 3;
        background-color: rgb(0, 0, 0);
        gap: 0rem;
    }
    .container-for-filter {
        flex-direction: column;
    }
}
