h1 {
    max-width: 30rem;
    margin: 2rem auto 2rem auto;
    font-size: 1.8rem;
}
h2 {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    color: black;
}
.send-messege-title {
    margin-bottom: 3rem;
    text-align: center;
}
/*-------------------------------- 
Main Container --------------------------------
------------------------------ */
.container-for-cards {
    display: block;
    width: 100%;
}
.info-contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
/*-------------------------------- 
Container for inputs--------------------------------
------------------------------ */
.motiv-container {
    width: 100%;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.678);
    transition: 0.2s;
}

.motiv-container:first-child {
    padding: 2rem 0 0 0;
    max-width: 55rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.motiv-container > .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.motiv-container .row > div > form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.search-txt {
    color: var(--bk-color);
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

.input-container {
    padding: 0rem 0 0rem 1rem;
    font-weight: 100;
    max-width: 20rem;
    height: 2.5rem;
}
.input-container:focus {
    width: 20rem;
}
/*-------------------------------- 
Inputs and there validations--------------------------------
------------------------------ */

#message {
    resize: none;
    min-height: 13rem;
    padding: 1rem 1rem 0rem 1rem;
}
#message::-webkit-scrollbar {
    display: none;
}

#valdationMsgName,
#valdationMsgSubject,
#valdationMsgMail,
#valdationMsgMessage {
    color: red;
    font-weight: lighter;
    font-size: 0.8rem;
    display: none;
    max-width: 20rem;
    font-weight: 400;
}

.input-container-wrong {
    color: red;
    border: 0.1rem solid red;
}
/*-------------------------------- 
Thanks Messages --------------------------------
------------------------------ */
.thanks-messege {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-height: 8rem;
    gap: 1rem;
    background-color: rgb(37, 128, 37, 0.7);
    width: 100%;
    text-align: center;
    animation: goup 1s linear paused;
}

@keyframes goup {
    0% {
        margin-top: -6rem;
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        margin-top: 0rem;
        opacity: 1;
    }
}
.thanks-messege-animation {
    animation: goup 0.8s linear;
}

.thanks-messege > p:first-child {
    color: #ffffff;
    font-size: 1rem;
}
.blog-btn {
    padding: 0.4rem 1.2rem;
    font-size: 1rem;
    opacity: 1;
}
.send-btn {
    position: relative;
    word-spacing: 0.5rem;
    font-weight: 700;
    padding: 0.6rem 1.4rem;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.684);
    overflow: hidden;
    transition: 1s;
}
.new-message {
    color: rgba(255, 255, 255, 0.715);
    font-size: 0.8rem;
    text-decoration: underline rgb(255, 255, 255) 2px;
    transition: 0.2s;
}
.new-message:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}
.send-btn:hover {
    background-color: rgb(0, 0, 0);
}
.send-btn-container {
    text-decoration: none;
    margin-top: 2.6rem;
    font-size: 1rem;
}

/* sosial media colors */
.sosial-media-icons {
    font-size: 3rem;
}
.columna > .last-conatainer {
    padding: 0;
}
.last-conatainer {
    height: 15rem;
    text-align: center;
    flex: 1 0 20rem;
}

.last-conatainer {
    max-width: 100%;
}
.sosial-media-container,
.last-conatainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.last-conatainer:first-child {
    padding-top: 0rem;
}
.instagram {
    color: transparent !important;
}
.instagram::before {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    -webkit-background-clip: text;
    background-clip: text;
    z-index: 0;
}
.facebook {
    color: #1877f2;
}

.tiktok {
    color: black;
    font-size: 2.7rem;
}
.pintrest {
    color: red;
}
.last-conatainer > ul > li {
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
    text-align: start;
}
.colum {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    width: 100%;
    max-width: 55rem;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}
